@using Microsoft.Extensions.Options
@inject IOptionsSnapshot<CustomSettings> CustomSettings
@{
    var settings = CustomSettings.Value;
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
