<ul class="nav navbar-nav">
    <li><a asp-controller="Cart" asp-action="Index" asp-route-customerId="@ViewBag.CustomerId" title="Shopping Cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
    <li><a asp-controller="Orders" asp-action="Index" asp-route-customerId="@ViewBag.CustomerId" title="Order History"><span class="glyphicon glyphicon-tag"></span> Orders</a></li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-search"></span> SEARCH</a>
        <div class="dropdown-menu search-dropdown-menu">
            <form asp-controller="Products" asp-action="Search" class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <label class="sr-only" for="searchString">Search</label>
                    <input type="text" id="searchString" name="searchString" class="form-control" placeholder="SEARCH">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </li>
</ul>
