@page
@model AutoLot.Web.Pages.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-page="Create" asp-page-handler="CreateNewCar">
            @Html.EditorFor(x => x.Car, new { Makes = Model.Makes })
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create <i class="fas fa-add"></i></button>&nbsp;&nbsp;|&nbsp;&nbsp;
                <item-list></item-list>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
