@page "{id?}"
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @Html.DisplayFor(x => x.Make)
</div>
<div>
    <car-edit car-id="@Model.Make.Id"></car-edit> |
    <a asp-page="./Index">Back to List</a>
</div>
