@page "{id?}"
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @Html.DisplayFor(x => x.Entity)
</div>
<div>
    <item-edit item-id="@Model.Entity.Id"></item-edit> |
    <item-list></item-list>
</div>
