<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="SpecFlow" version="2.4.0-preview20180718" targetFramework="net472" />
  <package id="NUnit" version="3.10.1" targetFramework="net472" />
  <package id="SpecFlow.NUnit" version="2.4.0-preview20180718" targetFramework="net472" />
  <package id="SpecFlow.NUnit.Runners" version="2.4.0-preview20180718" targetFramework="net472" />
  <package id="SpecRun.Runner" version="1.8.0-rc003" targetFramework="net472" />
  <package id="SpecRun.SpecFlow" version="1.8.0-rc003" targetFramework="net472" />
  <package id="SpecRun.SpecFlow.2-3-0" version="1.8.0-rc003" targetFramework="net472" />
  <package id="SpecRun.SpecFlow.2-4-0" version="1.8.0-rc003" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>