@using Microsoft.Extensions.Hosting
@using SpyStore.Hol.Mvc.ViewComponents
@inject IHostEnvironment env;
@{
    if (env.IsDevelopment())
    {
        <h2>Development</h2>
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpyStore.Hol.Mvc</title>
    <environment include="Development,Local">
        <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css"/>
    </environment>
    <environment exclude="Development,Local">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<header class="navbar navbar-expand-sm navbar-light bg-primary navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-inline-block d-sm-none" asp-area="" asp-controller="Products" asp-action="Index">SPY STORE</a>
        </div>
        <nav class="collapse navbar-collapse header-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown categories-dropdown d-block d-lg-none">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">CATEGORIES <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <vc:menu></vc:menu>
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    </ul>
                </li>
                <partial name="LoginView"/>
            </ul>
        </nav>
    </div>
</header>

<div class="page container">
    <div class="card">
        <nav class="card-header d-none d-sm-block">
            <div class="store-logo">
                <a asp-controller="Products" asp-action="Featured"><img src="~/images/store-logo.png" alt="Spy Store" asp-append-version="true"></a>
            </div>
            <ul class="nav nav-pills d-none d-lg-flex">
                <vc:menu></vc:menu>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            </ul>
        </nav>
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
</div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - SpyStore.Hol.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development,Local">
        <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap4/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development,Local">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
