@model IEnumerable<AutoLot.Models.Entities.Make>
<div class="dropdown-menu">
<a class="dropdown-item text-dark" asp-page="/Cars/Index" asp-route-makeId="" asp-route-makeName="">All</a>

@foreach (var item in Model)
{
    <a class="dropdown-item text-dark" asp-page="/Cars/Index" asp-route-makeId="@item.Id" asp-route-makeName="@item.Name">@item.Name</a>
}
</div>