@{
    ViewData["Title"] = "About";
}
<h1>Hello Austin! From my Docker Container</h1>
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
