<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>

  <appSettings>
    <add key="AppUrl" value="http://localhost:51461/"/>
  </appSettings>
  
  <connectionStrings>
    <add name="BookShopEntities" connectionString="metadata=res://*/Models.BookShop.csdl|res://*/Models.BookShop.ssdl|res://*/Models.BookShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=BookShop;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
  <!-- the following configuration represent the defaults -->
  <specFlow>
    <language feature="en-US"/>

    <unitTestProvider name="NUnit"/>

    <runtime detectAmbiguousMatches="true" stopAtFirstError="false" missingOrPendingStepsOutcome="Inconclusive"/>

    <trace traceSuccessfulSteps="true" traceTimings="false" minTracedDuration="0:0:0.1"/>
  </specFlow>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
