@page
@model SpyStore_v21.Pages.Home.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<h3>Settings 1: @Model.Settings1</h3>
<h3>Settings 2: @Model.Settings2</h3>

<p>Use this area to provide additional information.</p>
