<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <!-- NHibernate.Connection.DriverConnectionProvider -->
      <property name="connection.provider">
        Pinnacle.NHibernate.Utilities.Connections.CustomConnectionProviderClass, Pinnacle.NHibernate.Utilities
      </property>
      <!-- NHibernate.Dialect.MsSql2005Dialect -->
      <property name="dialect">
        Pinnacle.NHibernate.Utilities.Connections.MsSql2005TSDialect, Pinnacle.NHibernate.Utilities
      </property>
      <property name="connection.driver_class">
        NHibernate.Driver.SqlClientDriver
      </property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="show_sql">true</property>
      <mapping assembly="Model"/>
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=W7Dev\DEV08;Initial Catalog=store;Integrated Security=True;"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
