@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment Env

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Partials/_Head"/>
</head>
<body>
<header>
    <partial name="Partials/_Menu"/>
</header>
<div class="container">
    <partial name="_CookieConsentPartial"/>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - AutoLot.Web - @Env.EnvironmentName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<partial name="Partials/_JavaScriptFiles"/>
@RenderSection("Scripts", required: false)
</body>
</html>