@model Car

@{
    ViewData["Title"] = "Delete";
}
@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
    </div>
}
else
{
    <h1>Delete @Model.PetName</h1>

    <h3>Are you sure you want to delete this car?</h3>
    <div>
        <div asp-validation-summary="All" class="text-danger"></div>
        @Html.DisplayForModel()
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="TimeStamp"/>
            <button type="submit" class="btn btn-danger">
                Delete <i class="fas fa-trash"></i></button>&nbsp;&nbsp;|&nbsp;&nbsp;
            <item-list></item-list>
        </form>
    </div>
}