<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoLot.Mvc</title>
    <environment include="Development,Local">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development,Local">
        <link rel="stylesheet" asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/css/bootstrap.min.css"
              asp-fallback-test-class="h6" asp-fallback-test-property="font-weight"
              asp-fallback-test-value="500"
              integrity="sha512-fw7f+TcMjTb7bpbLJZlP8g2Y4XcCyFZW8uy8HsRZsH/SwbMw0plKHFHr99DN3l04VsYNwvzicUX/6qurvIxbxw=="
              crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AutoLot.Mvc.styles.css" asp-append-version="true" />
</head>
