@model AddToCartViewModel

@{
    ViewData["Title"] = "Validation";
}

<h1>Validation</h1>

<h4>Add To Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Id" class="col-form-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="StockQuantity" class="col-form-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ItemId" class="col-form-label"></label>
                <input asp-for="ItemId" class="form-control" />
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Quantity" class="col-form-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div style="margin-top:5px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
