@page
@model AutoLot.Web.Pages.Cars.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.MakeId" class="control-label"></label>
                <select asp-for="Car.MakeId" class="form-control" asp-items="ViewBag.MakeId"></select>
                <span asp-validation-for="Car.MakeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Color" class="control-label"></label>
                <input asp-for="Car.Color" class="form-control" />
                <span asp-validation-for="Car.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.PetName" class="control-label"></label>
                <input asp-for="Car.PetName" class="form-control" />
                <span asp-validation-for="Car.PetName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Car.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
