
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
    var url = Url.Action(nameof(HomeController.GrantConsentFromAjax), nameof(HomeController).RemoveControllerSuffix());
    var homeUrl = Url.Action(nameof(HomeController.Index), nameof(HomeController).RemoveControllerSuffix());

}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        Use this space to summarize your privacy and cookie use policy. <a asp-area="" asp-controller="Home" asp-action="Privacy">Learn More</a>.
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
    <script>
        (function() {
            var button = document.querySelector("#consentButton");
            button.addEventListener("click",
                function(event) {
                    accept();
                },
                false);
        })();

        function accept() {
            $.ajax({
                url: '@url',
                type: 'GET',
                async: false,
                success: function(data) {
                    window.location = '@homeUrl';
                },
                error: function(data, message) {
                    alert("Unable to accept policy.");
                }
            });
        }
    </script>
}
