@model Make

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Make</h4>
<hr/>
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Name" class="col-form-label"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex flex-row mt-3">
        <input type="submit" value="Create" class="btn btn-primary"/>&nbsp;&nbsp;|&nbsp;&nbsp;
        <item-list></item-list>
    </div>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}