@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @Model.Entity.DealerName</h1>
    <p class="lead">Located in @Model.Entity.City, @Model.Entity.State</p>
</div>
