<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Specifications" version="0.12.0" targetFramework="net462" />
  <package id="Machine.Specifications.Runner.Utility" version="0.10.0-Unstable0003" targetFramework="net462" />
  <package id="Machine.Specifications.Runner.VisualStudio" version="2.6.1" targetFramework="net462" />
  <package id="Machine.Specifications.Should" version="0.11.0" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.10.0" targetFramework="net462" />
  <package id="Wave" version="8.0.0.0" targetFramework="net462" />
</packages>