@page
@model AutoLot.Web.Pages.ValidationModel
@{
}
<h1>Validation</h1>

<h4>Add To Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-page="/Validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="PropertyThatIsBoundInThePageModel.Id" class="col-form-label"></label>
                <input asp-for="PropertyThatIsBoundInThePageModel.Id" class="form-control" />
                <span asp-validation-for="PropertyThatIsBoundInThePageModel.Id" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PropertyThatIsBoundInThePageModel.StockQuantity" class="col-form-label"></label>
                <input asp-for="PropertyThatIsBoundInThePageModel.StockQuantity" class="form-control" />
                <span asp-validation-for="PropertyThatIsBoundInThePageModel.StockQuantity" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PropertyThatIsBoundInThePageModel.ItemId" class="col-form-label"></label>
                <input asp-for="PropertyThatIsBoundInThePageModel.ItemId" class="form-control" />
                <span asp-validation-for="PropertyThatIsBoundInThePageModel.ItemId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PropertyThatIsBoundInThePageModel.Quantity" class="col-form-label"></label>
                <input asp-for="PropertyThatIsBoundInThePageModel.Quantity" class="form-control" />
                <span asp-validation-for="PropertyThatIsBoundInThePageModel.Quantity" class="text-danger"></span>
            </div>
            <div style="margin-top:5px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
