@model Make

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Make</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <item-edit item-id="@Model.Id"></item-edit>
    <item-list></item-list>
</div>