@model CartViewModel
@{
    ViewData["Title"] = "Index";
    var cartTotal = 0M;
}
<h3>@ViewBag.Header</h3>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 70%;">Product</th>
            <th class="text-right">Price</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Available</th>
            <th class="text-right">Total</th>
        </tr>
        </thead>
        @for (var x = 0; x < Model.CartRecords.Count; x++)
        {
            var item = Model.CartRecords[x];
            cartTotal += item.LineItemTotal;
            @Html.Partial("Update", item)
        }
        <tfoot>
        <tr>
            <th></th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>
                <span id="CartTotal">@Html.FormatValue(cartTotal, "{0:C2}")</span>
            </th>
        </tr>
        </tfoot>
    </table>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @*Here is the workaround for Visual Studio hanging up and restarting when editing JavaScript
        https://developercommunity.visualstudio.com/content/problem/314560/visual-studio-crashes-since-the-last-update.html#reply-316171
    *@
    <script language="javascript" type="text/javascript">
        function updateCart(form, url, id) {
            var quantity = form.elements["Quantity"].value;
            var timeStamp = form.elements["TimeStampString"].value;
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            var myData = { TimeStampString: timeStamp, Quantity: quantity };
            var dataWithAntiforgeryToken = $.extend(myData, { '__RequestVerificationToken': token });

            $.ajax({
                    url: url,
                    type: "POST",
                    data: dataWithAntiforgeryToken,

                    success: function(data) {
                        $("#row_" + id).replaceWith(data);
                    },
                    error: function() {
                        alert('An error occurred: Please reload the page and try again.');
                    }
                })
                .done(updateCartPrice);
        }

        function getSum(total, num) {
            "use strict";
            return total + Math.round(num.innerText * 100) / 100;
        }

        function updateCartPrice() {
            "use strict";
            var list = $('span[id^="rawTotal"]');
            var total = $.makeArray(list).reduce(getSum, 0);
            $('#CartTotal')[0].innerText =
                '$' + parseFloat(total).toFixed(2).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        }
    </script>
}