<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
			<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<assembly name="PatternsExamples"/>
		<namespace name="PatternsExamples"/>
		<namespace name="PatternsExamples.B_Structural"/>
		<namespace name="PatternsExamples.B_Structural.B_Facade"/>
		<namespace name="PatternsExamples.C_Behavioral.Strategy"/>

		<container>
			<register type="IConfusing" mapTo="Confusing"/>
			<register type="IOverdone" mapTo="Overdone">
				<constructor>
					<param name="someString" value="bar"/>
				</constructor>
			</register>
			<register type="ISuperPower" mapTo="Fly"/>
		</container>
	</unity>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
	</startup>
</configuration>
